<!DOCTYPE html>
<html>
<head>
    <title>Zesty Zomato Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <ul>
        {% for dish in dishes %}
            <li>{{ dish.name }} - ${{ dish.price }}{% if not dish.availability %} (Not Available){% endif %}</li>
        {% endfor %}
    </ul>
    <br>
    <button onclick="window.location.href='{% url 'add_dish' %}'">Add New Dish</button>
    <button onclick="window.location.href='{% url 'take_order' %}'">Take Order</button>
    <button onclick="window.location.href='{% url 'order_list' %}'">View Orders</button>
</body>
</html>
