<!DOCTYPE html>
<html>
<head>
    <title>Zesty Zomato</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; background-color: #f4f4f4; margin: 0;">
    <h1>Welcome to Zesty Zomato</h1>
    <a href="{% url 'menu' %}" style="text-decoration: none; color: #333; background-color: #f9f9f9; padding: 10px 20px; border-radius: 5px;">View Menu</a>
    <br><br>
    <a href="{% url 'take_order' %}" style="text-decoration: none; color: #333; background-color: #f9f9f9; padding: 10px 20px; border-radius: 5px;">Place an Order</a>
    <br><br>
    <a href="{% url 'order_list' %}" style="text-decoration: none; color: #333; background-color: #f9f9f9; padding: 10px 20px; border-radius: 5px;">View Orders</a>
</body>
</html>
